/* Ensure full coverage of canvas */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#whiteboard {
  border: 1px solid #ccc;
  background-color: white;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

#side-menu {
    width: 80px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  canvas {
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
  }
  #side-menu {
    width: 80px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  canvas {
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
    cursor: crosshair; /* Default for drawing */
  }
  
  canvas.eraser {
    cursor: url('./images/erasor.png') 16 16, auto; /* Custom eraser icon */
  }
  
  canvas.pen {
    cursor:  url(./images/pen.webp), auto; /* Custom pen icon */
  }
  
  canvas.select {
    cursor: default; /* Default selection cursor */
  }
  
